.products{
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
}
.productCard__img{
    width: 307px;
    height: 307px;
    margin: auto;
}

@media screen and (max-width: 880px) {
    .products{
        grid-template-columns: 30% 60%;
    }
}