.nav{
  height: 70px; 
}
.containerNav{
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

/* Estilos de la barra de Busqueda */
.barSearch {
  outline: 2px solid #000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  width: 450px;
  margin: 0 auto; 
}
.barSearch__input {
  border: none;
  outline: none;
  width: 100%;
}

/* Estilos de la X que se genera en la barra de busqueda */
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

/* Estilos generales de los iconos */
.bi {
  cursor: pointer;
}
/* Tamaño del icono del carrito de compras */
.bi-cart3 {
  font-size: 20px;
}
/* Tamaño de la imagen de usuario */
.lista__user {
  width: 40px;
  border-radius: 50%;
}
/* Posicionar llos links */
.enlaces{
  height: 100%;
}
.lista{
  display: flex;
  gap: 40px;
  list-style: none;
  height: 100%;
  align-items: center;
}
.lista__link{
  color: #000;
  text-decoration: none;
}
/* Ocultar las opciones para el modo mobile */
.enlaces-mobile{
  display: none;
}

/* Cursor para opciones de cuenta */
.lista__link--account{
  cursor: pointer;
}
.lista__item--account{
  position: relative;
}

/* Estilos del boton para mostrar los links */
.navbar-toggler{
  display: none;
  font-size: 1.5em;
}
.nav__logo{
  height: 50px;
  border-radius: 30%;
}

/* Estilos cuando la pantalla tiene menos de  1140px*/

@media screen and (max-width: 1140px) {
  /* Mostar el boton de despliegue de opciones */
  .navbar-toggler{
    display: block;
  }
  /* Ocultar la lista de opciones del modo desktop */
  .enlaces-desktop{
    display: none;
  }
  /* Posicionar la lista de opciones desplegable */
  .enlaces-mobile{
    display: flex;
    position: fixed;
    background-color: #F8F9FA;
    z-index: 100;
    right: 0;
    top: 0;
    height: 100%;
    transform: translateX(100%);
    transition-duration: .5s;
    border-left: 1px solid #000;
  }
  .showLinks{
    transform: translateX(0);
  }
}
@media screen and (max-width: 775px) {
  .barSearch{
    max-width: 250px;
  }
}
