.pago{
    outline: 2px solid #8e8e8e;
    border-radius: 10px;
    text-align: left;
}
.pago__info{
    display: block;
    background-color: #8e8e8e;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.pago__carrito{
    margin-right: 10px;
    font-size: 25px;
}
.dinero{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding:  0 20px;
}
.pago__terminos{
    color: #ccc;
    padding: 10px;
}
.pago__terminos a{
    color: inherit;
}
.btnPagar{
    width: 90%;
}
.modalPago{
    margin: 30px auto;
    grid-area: pago;
    max-width: 400px;
}