.itemProduct{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.info__precio{
    color: #999;
}
.actuDatos{
    display: flex;
    gap: 10px;
    align-items: center;
}

